:root{
	--main-color: #0069ca;
	--main-header-color: #385d8b;
	--main-hover-color: #feb300;
	--content-hover: #ffd163;
}

*{
	margin: 0;
	padding: 0;
	font-size: 100%;
	box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;
}
.container-fluid{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.header{
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	color: var(--main-header-color);
	margin-bottom: 2%;
}
.header__logo{
	/*font-size: 1.6875em;*/
}
.header__logo_link{
	font-size: 2.5em;
	font-family: Helvetica;
	text-decoration: none;
	color: var(--main-header-color);
}
.header__logo_link:hover, .header__logo_link:focus{
	text-decoration: none;
}
.header__contacts{
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*align-items: flex-start;*/
}
.header__contacts > *{
	/*font-size: 0.875em;*/
	font-size: 1.1em;
	position: relative;
}
.contact__phone:first-child:before{
	content: " ";
	background: url(../img/mts.svg);
	width: 16px;
	height: 16px;
	background-size: 16px 16px;
	display: inline-block;
	position: relative;
	/*left: -1%; */
}
.contact__phone:last-child:before{
	content: " ";
	background: url(../img/mts.svg);
	width: 16px;
	height: 16px;
	background-size: 16px 16px;
	display: inline-block;
	position: relative;
	left: 0; 
	/*padding-right: 2.5%;*/
}
.header__call{
	display: flex;
	justify-content: center;
	align-items: center;
}
.call__auto{
	background: transparent;
	border: 1px solid #86a8d3;
	color: var(--main-header-color);
	/*font-size: .875em;*/
	font-size: 1.1em;
}
.header__basket{
	display: flex;
	justify-content: flex-end;
}
.basket__inside{
	border: 1px solid transparent;
	width: 50%;
	border-radius: 0 0 2em 2em;
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	background: transparent; -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}
.basket__inside > *{
	font-size: 3em;
	color: var(--main-header-color);
	font-weight: bold;
}
.inside__pic_img{
	display: block;
	width: 100%;
	/*height: 100%;*/
	margin: auto;
}
.inside__items{
	text-align: left;
	font-size: 1.1em;
}

.nav{
	background: #f2f5fc;
}
.nav__menu{
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu__item{
	font-size: 1.5em;
	text-decoration: none;
	border-bottom: 4px solid transparent;
	padding: 0 1%;
	margin: 0 2%;
	transition: all .3s ease;
}
.menu__item:hover, .menu__item_active{
	text-decoration: none;
	color: var(--main-hover-color);
	border-bottom: 4px solid var(--main-hover-color);
}
.menu__item:focus{
	text-decoration: none;
}
.slider__block{
	width: 100%;
	padding: 0;
	overflow: hidden;
}
.slider__polosa{
	width: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: flex-start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-align-items: flex-start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-flex-wrap: nowrap;
	    -ms-flex-wrap: nowrap;
	        flex-wrap: nowrap;
	-webkit-transform: translateX(0%);
	    -ms-transform: translateX(0%);
	        transform: translateX(0%);
	transition: all .5s cubic-bezier(0.61,-0.19,0.7,-0.11);
}
.polosa__slide{
	width: 100%;
	position: relative;
}
.slide__background{
	width: 100vw;
	display: block;
	margin: 0;
	padding: 0;
}

.slide__text{
	color: var(--main-header-color);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.text__add{
	background: rgba(255,255,255,.5);
	font-size: 2.5em;
	padding: .3% 1%;
}
.text__buy{
	font-size: 1.5em;
	color: white;
	background: transparent;
	padding: 1% 3%;
	border: 2px solid white;
	transition: all .3s ease;
}
.text__buy:hover{
		border: 2px solid white;
		color: var(--main-header-color);
		background: white;
}
.carousel-control{
	z-index: 100;
	border: none;
	outline: none;
}
.main__category{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}
.main__btn{
	font-size: 2em;
}
.category__list{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	margin-top: 5%;
	padding: 0 2%;
}
.list__item{
	list-style: none;
	font-size: 1.2em;
	width: 100%;
	border-bottom: 1px solid #cfdae4;
	padding: 2% 4%;
}
.list__item:before{
	content: '';
	width: .8em;
	height: .8em;
	background: url(../img/item.svg);
	background-size: .8em .8em;	
	display: inline-block;
	/*content: '';*/
}
.list__item_link{
	color: var(--main-color);
	transition: all .2s ease;
	padding: 0 2%;
}
.list__item_link:hover{
	color: var(--main-hover-color);
}
.special__offers{
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: flex-start;
}
.item__news{
	/*width: 50%;*/
	display: flex;
	/*flex-direction: column;*/
	justify-content: flex-start;
	align-items: stretch;
	/*flex-wrap: nowrap;*/
	flex-wrap: wrap;
	
}
/*.special__line{
	width: 100%;
	border-top: 1px solid #cfdae4;
	margin-bottom: 1%;
}*/

.item__news > *{
	flex: 1;
}
.special__content{
	height: 100%;
	width: 100%;
}
.content__item{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	border: 1px solid #cfdae4;
	/*width: 18%;*/
	/*margin: 0 6% 0 0;*/
	padding: 1% 0;
	border-radius: 7% 7% 0 0;
	transition: all .4s ease;
}
.content__item:hover{
-webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
}
.item__pic{
	max-width: 100%;
}
.item__name{
	margin: 1% 0;
	text-decoration: underline;
	font-size: 2em;
}
.item__name_link{
  letter-spacing: -2px;
}
.item__description{
	font-size: 1em;
	color: #becad4;
	margin: 1% 0;
}
.item__btn{
	color: #a0b4c4;
	background: transparent;
	border: 1px solid #cfdae4;
	transition: all .2s ease;
}
.item__btn:hover{
	background: var(--content-hover);
	border: 1px solid var(--content-hover);
	color: #8b4501;
}
.products__special{
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-items: flex-start;
}
.tabs__input{
	display: none;
}

/*.tabs__input:checked + .item__news{
	visibility: visible;
	transform: scaleY(1);
	height: auto;
}*/

.main{
/*	margin: 0 0 -100px 0;
	height: 100%;*/
	flex: 1;
}
/*.main__footer{
	height: 100px;
	margin: 0;
	padding: 0;
	background: url(../img/background.png);
	background-position: bottom;
	background-size: cover;
}*/
.special__header{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	border-bottom: 1px solid #cfdae4;
	padding: 0 0 2%;
}
.special__header_labels{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: nowrap;
	border-bottom: 1px solid #cfdae4;
	width: 100%;
}
.special__header_label{
	/*width: calc(57%/3);*/
	color: var(--main-color);
	padding: 1%;
	/*margin: 0 3% 5% 0; */
	/*flex: 1;*/
	width: calc(100%/3)
	outline: none;
	cursor: pointer;
	font-size: 1.2em;
	font-weight: normal;
	position: relative;
	border: 1px solid #cfdae4;
	color: var(--main-color);
	border-radius: .4em;
	text-align: center;
	margin-bottom: 5%;
	margin-right: 3%;
}
.special__header_label:after{
	content: "";
	/*display: inline-block;*/
	display: none;
	width: 20px;
	height: 10px;
	background: url(../img/tr.svg);
	background-size: 20px 10px;
	position: absolute;
	top: 100%;
	left: 35%;
	right: 35%;
}
.item__news{
	visibility: hidden;
	height: 0;
	/*display: block;*/
	/*flex: 1;*/ 
	transform-origin: top;
	transform: scaleY(0);
	transition: all 0.05s ease, transform .5s ease;
}
.special__header_label:focus{
	outline: none;
}
#newest:checked ~ .special__header_labels > .special__header_label-news, #hits:checked ~ .special__header_labels > .special__header_label-hit, #sales:checked ~ .special__header_labels > .special__header_label-sale{
	background: var(--content-hover);
	color: #8b4501;
	border: none;
}
#newest:checked ~ .special__header_labels > .special__header_label-news:after, #hits:checked ~ .special__header_labels > .special__header_label-hit:after, #sales:checked ~ .special__header_labels > .special__header_label-sale:after{
	display: inline-block;/*
	border: 1px solid transparent;*/
}
#newest:checked ~ .special__offers > #news, #hits:checked ~ .special__offers > #hit, #sales:checked ~ .special__offers > #sale{
	visibility: visible;
	transform: scaleY(1);
	height: auto;
}
.products__catalog{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}
.catalog__name_title{
	font-size: 2em;
	color: var(--main-color);
	text-align: center;
}
.catalog__themes{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
.themes__item{
	/*width: calc(94%/3);*/
	width: 100%;
	flex: 1;
	/*margin: 0 3% 2.5% 0;*/
	margin: 0 0 5%;
	padding: 4px;
	border: 1px solid #cfdae4;
}
/*.themes__item:nth-child(3n){
	margin: 0 0 2.5% 0;
}*/
.item__block{
	background: url(../img/back.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
/*	border: 4px solid white;
	outline: 1px solid #cfdae4;*/
}
.themes__item, .item__block{
	border-radius: .6em .6em 0 0;
}
.item__logo{
	margin: 4% 4% 12%;
}
.item__link{
	position: absolute;
	top: 80%;
	left: 10%;
	right: 10%;
	font-size: 1.5em;
	padding: 2% 0;
	background: #f5f8fa;
	border: 1px solid #cfdae4;
	transition: all .4s ease;
	text-align: center;
}
.item__link:hover{
	text-decoration: none;
	background: var(--content-hover);
	border: 1px solid #e1a84f;
	color: #ae7426;
}
.footer > *{
	background: #f0f3f6;
	color: var(--main-header-color);
	font-weight: 300;
}
.footer{
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
}
.footer:before{
	/*display: block;*/
	width: 100%;
	height: 50px;
	background: url(../img/background.png);
	background-position: top;
	background-size: cover;
}
.footer__company{

}
.footer__company_short{
	font-size: 1.2em;
}
.footer__nav{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.footer__nav > *{
	font-size: 1.2;
}
.footer__nav .menu__item, .footer__nav .menu__item:hover{
border-bottom: none;
}
.footer__info{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	flex-wrap: wrap;
	font-weight: 400;
	padding-left: 5%;
	font-size: 1.4em;
}
.footer__info .contact__phone:first-child:before, .footer__info .contact__phone:last-child:before{
	display: none;
}

@media only screen and (max-width: 48em) {
	.header__logo,.header__basket{
		width: calc(100%/2);
	}
	.header__logo_link{
		font-size: 2.5em;
	}
	.header__contacts,.header__call{
		display: none;
	}
	.header__logo{
		align-self: center;
	}
	.basket__inside{
		width: 100%;
	}
	.basket__inside > *{
		font-size: 1.5em;
	}
	.inside__items{
		font-size: 1em;
	}
	.nav__menu{
		font-size: 1em;
		margin: 0;
	}
	.slide__background{
		height: 300px;
		object-fit: cover;
	}
	.category__list{
		margin-top: 0;
		transform-origin: top;
		transform: scaleY(0);
		height: 0;
		visibility: hidden;
		transition: all .05s ease, transform .5s ease;
	}
	.main__btn{
		border: 1px solid var(--main-color);
		color: var(--main-color);
		background: transparent;
		border-radius: 0 0 .4em .4em;
		transition: all .3s ease;
	}
	.main__btn:focus{
		outline: none;
		border-radius: 0;
		background: var(--content-hover);
		color: #8b4501;
		border: 1px solid var(--content-hover);
	}
	.main__btn:focus + .category__list{
		height: auto;
		visibility: visible;
		transform: scaleY(1);
		transition: all .4s ease;
	}
}
@media only screen and (min-width: 48em) {
	.category__list{
		height: auto;
		transform: scaleY(1);
		visibility: visible;
	}
	.main__btn{
		display: none;
	}
	.header__call{
		display: flex;
	}
	.slide__background {
		height: 400px;
	}
	.special__header_label{
		margin-bottom: 2.5%
	}
	.special__header_labels{
		margin-bottom: 2%;
	}
	.item__news{
		justify-content: flex-start;
		flex-wrap: nowrap;
	}
	.content__item{
		/*width: 20%;*/
		flex: 1;
	}
	.item__btn{
		padding: 0;
	}
	.item__pic {
    max-width: 95%;
	}
	.item__name{
		text-align: center;
	}
	.catalog__themes{
		flex-direction: row;
	}
	.themes__item{
		width: 48.5%;
		flex: 1 0 auto;
	/*flex: 1;*/
		margin: 0 3% 3.5% 0;
	/*margin: 0 0 5%;*/
	}
	.themes__item:nth-child(2n){
			margin: 0 0 3.5% 0;
	}
	.item__link{
		font-size: 1.1em;
		top: 85%;
	}
}